@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Музикален свят</h1>
    

</div>

<div class="text-center">

<p>Добре дошли в нашия сайт, съдържащ най актуалното от света на музиката.</p>
<p>При нас ще намерите новини, класации, видеоклипове.</p>
</div>

<div class="text-center">
    
            
    <img src="~/images/music2.jpg" />
</div>
